<?xml version="1.0"?>
<package>
    <metadata>
        <id>$id$</id>
        <version>{{nuspecVersion}}</version>
        <title>$title$</title>
        <authors>$author$</authors>
        <owners>$author$</owners>
        <licenseUrl>{{nuspecLicenseUrl}}</licenseUrl>
        <projectUrl>{{nuspecProjectUrl}}</projectUrl>
        <iconUrl>{{nuspecIconUrl}}</iconUrl>
        <requireLicenseAcceptance>{{nuspecRequireLicense}}</requireLicenseAcceptance>
        <description>$description$</description>
        <copyright>{{nuspecCopyright}}</copyright>
        <tags>{{nuspecTags}}</tags>
    </metadata>
</package>